
# System
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.*.local
.tempimage
.agents
agent
# IDEs
.vscode/
.idea/

# Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.image
.images

# Frontend
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
